
#loginHover:hover{
    color:darkslategray;
}

#loginBody{
    background-color: rgb(70,51,47);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer{
    margin-top: 50px;
}
button{
    background-color: rgb(70,51, 47);
}

#backOffice,#back{
    background-color: #474747;
}
.overlay-text {
    color: mediumvioletred;
    font-size: 3rem;
    background: rgb(70,51,47);
    padding: 10px;
    display: inline-block;
}

.word-waves span {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

.word-waves span:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 0.3px #a98467;
}
.word-waves span:nth-child(2){
    color:#7b0100;
    -webkit-text-stroke: 1px white;
    animation: animation 3s ease-in-out infinite;
}
@keyframes animation {
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}
.blocVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60vh;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 300px;
}
.video {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.has-error{
    color:red;
}
.enlarged-textarea {
    height: 150px;
    width: 100%;
}
.form-sign-in {
    max-width: 300px;
    margin: auto;
}
.btn-outline-secondary.custom-outline {
  border-color: mediumvioletred;
    color: mediumvioletred;

}

.btn-outline-secondary.custom-outline:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

/* MEDIA QUERIES styles for all screen sizes */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {

    padding: 10px 0;
    text-align: center;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {

    text-decoration: none;
}

/* Content styles */
.main-content {
    margin-bottom: 20px;
}

/* Footer styles */
footer {

    text-align: center;
    padding: 10px 0;
}

/* Additional styles for links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


