<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bakery Login Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/design.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <style>
        .center-text {
            text-align: center;
        }

        .center-button {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <img height="50px" src="../images/bakeLogo.PNG" width="50px">
            <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarColor01" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#" role="button">Products</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Baking pans</a>
                            <a class="dropdown-item" href="#">Food decoration</a>
                            <a class="dropdown-item" href="#">Chocolates</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="p-5">
    <h1 class="text-center" style="color: mediumvioletred">Welcome to Bakery</h1>
</div>

<div class="container m-5">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="block">
                <div class="block-title m-3 p-3 text-center">
                    <!-- Center the h2 -->
                    <h2><span>Registered user</span></h2>
                </div>
                <!-- Login Form -->
                <form class="form-sign-in" method="POST" th:action="@{/login}">
                    <div class="mb-4">
                        <div class="alert alert-success" role="alert" th:if="${message}" th:text="${message}"></div>
                        <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
                        <input autofocus="true" class="form-control" name="username" placeholder="Username"
                               type="text"/>
                    </div>
                    <div class="mb-4">
                        <input class="form-control" name="password" placeholder="Password" type="password"/>
                    </div>
                    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
                    <button class="btn btn-primary d-block mx-auto" type="submit">Login</button>
                </form>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="block m-3 p-3 text-center">
                <!-- Center the h2 -->
                <h2><span>New user ?</span></h2>
                <div><img src="../images/smiley.jpg" width="40%"></div>
            </div>
            <div class="center-button">
                <a href="/registration">
                    <button class="btn btn-primary" type="submit">Create an account</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<footer class="fixed-bottom">
    <div class="container-fluid text-center p-3" style="background-color:rgb(70,51,47);">
        © 2020 Copyright:
        <a class="text-light" href="https://mdbootstrap.com/">BAKERY.com</a>
    </div>
</footer>
</body>
</html>