<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Product Management</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin/orders">Bakery Management Pro.</a>
            <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarColor01" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/admin/orders">Orders</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/manageCategory">Categories</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/manageProduct">Products</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/addAdmin">Admin Creation</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/manageUser">Client Profile</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="/">Customer Interface</a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn btn-outline-danger my-2 my-sm-0">
            <a onclick="document.forms['logoutForm'].submit()">LOG OUT</a>
        </button>
    </nav>
</header>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-3" sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input name="${_csrf.parameterName}" type="hidden"
                       value="${_csrf.token}"/>
            </form>
            <h2 style="text-align: center">
                Hello
                <span sec:authorize="isAuthenticated()"></span>
                <span sec:authentication="name" style="color: mediumvioletred "></span>
                !
            </h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr class="table-dark">
                <th><input class="form-check-input" id="flexDefault" type="checkbox"
                           value=""> <label class="form-check-label"
                                                    for="flexDefault"></label></th>
                <th scope="row">Id</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Email</th>
                <th>Username</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="user : ${users}">
                <th><input class="form-check-input" id="flexCheckDefault" type="checkbox"
                           value=""><label class="form-check-label"
                                                        for="flexCheckDefault"> </label></th>
                <td th:text="${user.id_user}">...</td>
                <td th:text="${user.last_name}">...</td>
                <td th:text="${user.first_name}">...</td>
                <td th:text="${user.email}">...</td>
                <td th:text="${user.username}">...</td>
                <td><a class="btn btn-success"
                       role="button" th:href="@{'/admin/updateUser/'+${user.id_user}}">&#9999</a></td>
                <td><a class="btn btn-outline-warning"
                       role="button" th:href="@{'/admin/deleteUser/' + ${user.id_user}}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer class="bg-light text-center">
    <div class="container p-3 pb-0">
        <section class="">
            <form action="">
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input class="form-control" id="form5Example27" type="email"/>
                            <label class="form-label" for="form5Example27">Email address</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary mb-4" type="submit">
                            Subscribe
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">BAKE.com</a>
    </div>
</footer>
</html>