<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/design.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <img alt="cake" height="50px" src="../images/bakeLogo.PNG" width="50px">
            <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarColor01" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#" role="button" >Products</a>
                        <div class="dropdown-menu">
                            <ul class="list-styled" th:each="category: ${categories}">
                                <li><a class="dropdown-item"
                                       th:href="@{/showProductsByCategory/{categoryId}(categoryId=${category.id_category})}"
                                       th:text="${category.name}"></a></li>
                            </ul>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/productGeneralPage">All categories</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/orderHistory">Order History</a>
                    </li>
                </ul>
            </div>
            <div><a href="/cart"><i aria-hidden="true" class="fa fa-shopping-cart"></i></a></div>
        </div>
        <button class="btn btn-outline-danger my-2 my-sm-0">
            <a onclick="document.forms['logoutForm'].submit()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </button>
    </nav>
</header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-3" sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input name="${_csrf.parameterName}" type="hidden"
                       value="${_csrf.token}"/>
            </form>
            <h2 style="text-align: center">
                Hello
                <span sec:authorize="isAuthenticated()"></span>
                <span sec:authentication="name" style="color: mediumvioletred "></span>
                !
            </h2>
        </div>
    </div>
</div>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/orderHistory">Order History</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Order details</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-12 mx-0">
                <table
                        class="table bg-white rounded border table-striped table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Order Id</th>
                        <th scope="col">Product</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody th:each="detail: ${details}">
                    <tr>
                        <th scope="row" th:text="${detail.cart.id_cart}"></th>
                        <td th:text="${detail.product.name}"></td>
                        <td th:text="${detail.product.category.name}"></td>
                        <td th:text="${detail.quantity}"></td>
                        <td th:text="${'&euro;' +' '+ detail.unit_price}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script crossorigin="anonymous"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<footer class="fixed-bottom">
    <div class="container-fluid text-center p-3" style="background-color:rgb(70,51,47);">
        © 2020 Copyright:
        <a class="text-light" href="https://mdbootstrap.com/">BAKERY.com</a>
    </div>
</footer>
</body>
</html>