<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/design.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <img alt="cake" height="50px" src="../images/bakeLogo.PNG" width="50px">
        <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarColor01" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       href="#" role="button">Products</a>
                    <div class="dropdown-menu">
                        <ul class="list-styled" th:each="category: ${categories}">
                            <li><a class="dropdown-item"
                                   th:href="@{/showProductsByCategory/{categoryId}(categoryId=${category.id_category})}"
                                   th:utext="${category.name}"></a></li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/productGeneralPage">All categories</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <button class="btn btn-outline-danger my-2 my-sm-0">
        <a onclick="document.forms['logoutForm'].submit()"><i aria-hidden="true" class="fa fa-sign-out"></i></a>
    </button>
</nav>
</header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-3" sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input name="${_csrf.parameterName}" type="hidden"
                       value="${_csrf.token}"/>
            </form>
            <h2 style="text-align: center">
                Hello
                <span sec:authorize="isAuthenticated()"></span>
                <span sec:authentication="name" style="color: mediumvioletred "></span>
                !
            </h2>
        </div>
    </div>
</div>
<section style="background-color: #7a7a7a;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li aria-current="page" class="breadcrumb-item active">User Profile

                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img
                                alt="avatar"
                                class="rounded-circle img-fluid"
                                src="https://t4.ftcdn.net/jpg/03/76/14/95/240_F_376149573_4IjbehMnJ1norK4yfWiFEmFrI3TmQf1K.jpg"
                                style="width: 150px;">
                        <h5 class="my-3" th:utext="${person.first_name}"></h5>
                        <p class="text-muted mb-4">E.U Operating Area</p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="mb-0">Username </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-muted mb-0" th:text="${person.username}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">LastName</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${person.last_name}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">FirstName</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${person.first_name}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${person.email}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-9">
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body" style="background-color: #446e9b;">
                                <p class="mb-4">
                                    <span class="text-primary font-italic me-1">DATA</span>
                                    Personal Bonus(Feature)
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Number of Order
                                </p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                                         class="progress-bar" role="progressbar" style="width: 0%"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Revenue Figure
                                </p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="72"
                                         class="progress-bar" role="progressbar" style="width: 0%"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Total quantity of orders
                                </p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="89"
                                         class="progress-bar" role="progressbar" style="width: 0%"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Frequently ordered Reference
                                </p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="55"
                                         class="progress-bar" role="progressbar" style="width: 0%"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Last Order
                                    in date</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="66"
                                         class="progress-bar" role="progressbar" style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">
                                    <span class="text-primary font-italic me-1"></span> BAKERY
                                    GROUPE DATA 2023.
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">
                                    client Profit rate</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="80" class="progress-bar" role="progressbar"
                                         style="width: 40%"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Lead
                                    conversion rate</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="72" class="progress-bar" role="progressbar"
                                         style="width: 50%"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">
                                    Satisfaction Rate</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="89" class="progress-bar" role="progressbar"
                                         style="width: 89%"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Percentage
                                    of Sales in France</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="55" class="progress-bar" role="progressbar" s
                                         style="width: 30%"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">
                                    Sales Percentage in E.U</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="66" class="progress-bar" role="progressbar"
                                         style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script crossorigin="anonymous"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<footer class="fixed-bottom">
    <div class="container-fluid text-center p-3" style="background-color:rgb(70,51,47);">
        © 2020 Copyright:
        <a class="text-light" href="https://mdbootstrap.com/">BAKERY.com</a>
    </div>
</footer>
</body>
</html>